
  <!-- **** Navigation Bar for Chapters **** -->

  <nav class="navbar navbar-static-top navbar-default" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "OrgoDojo", root_path, class: "navbar-brand" %>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <!--  Previously: <ul class="nav navbar-nav navbar-right"> -->
        <ul class="nav navbar-nav">
          <!-- <li><%#= link_to "Back", '#' %></li> -->
          <!-- <li><%#= link_to "Next", '#' %></li> -->
       

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Part One<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to  "01 - Fundamentals", chapter01_path %></li>
              <li><%= link_to  "02 - Alkanes", chapter02_path %></li>
              <li><%= link_to  "03 - Conformations", chapter03_path %></li>
              <li><%= link_to  "04 - Alcohols", chapter04_path %></li>
              <li><%= link_to  "05 - Alkenes", chapter05_path %></li>
              <li><%= link_to  "06 - Addition Reactions", chapter06_path %></li>
              <li><%= link_to  "07 - Stereochemistry", chapter07_path %></li>
              <li><%= link_to  "08 - Nucleophilic Substitution", chapter08_path %></li>
              <li><%= link_to  "09 - Alkynes", chapter09_path %></li>
              <li><%= link_to  "10 - Conjugated Systems", chapter10_path %></li>
            </ul>
          </li>

        </ul>



      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
