


<%= render 'pages/chapters_header' %>



	<div class="container text-color">
		<div class="row">
			<div class="col-md-12">
			<h1 class="center"> Chapter 11 - Arenes and Aromaticity</h1>


			<div class="panel-group">

			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseOne">
			      <h4 class="panel-title">
			        <a>
			          Overview
			        </a>
			      </h4>
			    </div>


			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			        <p>
			        	<%= image_tag "ch1101-overview.png", size: "", class: "center-img" %>
			        	•	Arenes are aromatic ring structures. Above you can see a few of the many aromatic ring systems you will encounter in this unit.<br>
			        	•	Arenes that contain S, O, or N, are heteroaromatic because they contain these heteroatoms.<br>
								•	Arenes undergo many of the reactions we’ve studied in earlier sections.
			        </p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseTwo">
			      <h4 class="panel-title">
			        <a>
			        	Aromaticity
			        </a>
			      </h4>
			    </div>


			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
			        	
			        	<%= image_tag "", size:"", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>

			        </p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseThree">
			      <h4 class="panel-title">
			        <a>
			          Nucleophilic Substitutions
			        </a>
			      </h4>
			    </div>


			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
			        	<%= image_tag "ch1003-allyl-sn1.png", size: "", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	Allyl groups can be used as part of S<sub>N</sub>1 reactions.<br>
			        	<%= image_tag "ch1004-allyl-sn2.png", size: "", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	If there is an allylic leaving group at the primary position then an S<sub>N</sub>2 reactions can occur.
			        </p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseFour">
			      <h4 class="panel-title">
			        <a>
								Allylic Bromination
			        </a>
			      </h4>
			    </div>


			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
			        	<%= image_tag "ch1005-NBS-reaction.png", size: "285x115", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
								•	This is a great free-radical reaction for the bromination of alkenes at the allylic position. The mechanism involves the use of electrophilic bromine.
								<%= image_tag "ch1006-br2-allylic.png", size: "300x65", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	This is a great free-radical reaction for the bromination of alkenes at the allylic position. The mechanism involves the use of electrophilic bromine.


			        </p>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseFive">
			      <h4 class="panel-title">
			        <a>
			          Dienes
			        </a>
			      </h4>
			    </div>


			    <div id="collapseFive" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
			        	<%= image_tag "ch1007-prep-diene.png", size: "285x80", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
								•	Dehydration of alkyl halides or alcohol compound with a double bond already present will generate a conjugated diene. Conjugated dienes are preferred over isolated dienes because there are more stable.
			        	
			        </p>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseSix">
			      <h4 class="panel-title">
			        <a>
			          Thermodynamics and Kinetics
			        </a>
			      </h4>
			    </div>


			    <div id="collapseSix" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
			        	<%= image_tag "ch1008-HBr-heat-allylic.png", size: "355x65", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	When addition reactions of dienes are conducted in high temperature conditions 1,4 addition occurs. These reactions are said to be under thermodynamic control and yields a thermodynamically stable product.

			        	<%= image_tag "ch1009-HBr-cold-allylic.png", size: "325x70", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	Low temperature reaction conditions for dienes result in 1,2 addition products. These reactions are controlled by kinetics: the reaction occurs via the fastest route.


			        </p>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseSeven">
			      <h4 class="panel-title">
			        <a>
			          Diels-Alder Reaction
			        </a>
			      </h4>
			    </div>


			    <div id="collapseSeven" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>




			        </p>
			      </div>
			    </div>
			  </div>




			</div>






		</div>
		<ul class="pager">
		  <li class="previous">
		  	<%= link_to "Back", chapter10_path, class: "text-left" %>
		  </li>
		  <li class="next">
		  	<%= link_to "Next", soon_path, class: "text-right" %>
		  </li>
		</ul>
		<%= render 'pages/disqus_board' %>
	</div>

