<% content_for :chapters do %>
    <%= stylesheet_link_tag 'chapters.css' %>  
<% end %>

<%= render 'pages/chapters_header' %>


	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2 class="section-header section-index-top-header emphasis">Alcohols: An Overview</h2>
				<p>• Below we can see two molecules: one with an alcohol group (left) and the other an alkyl bromide group (right).<br>
				<%= image_tag "ch401-alcohols-and-alkyl-halides.png", size: "405x130", class: "center-img" %>
				•	The alcohol on 2-propanol is characterized a secondary alcohol because the carbon bonded to the alcohol is also bonded to two other carbons.<br>
				•	The 1-Bromopentane compounds on the right is described as a primary bromide because the carbon bonded to bromine is bonded to one other carbon.<br>
				•	Alcohols can have up to three degrees of substitutions.<br>
				<%= image_tag "ch402-alcohol-Degrees-of-sub.png", size: "505x130", class: "center-img" %>
				•	Alkyl halides also have the same degree of substitution pattern because they are derived from alcohols.<br>
				<%= image_tag "ch403-alkyl-halide-degree-of-sub.png", size: "505x130", class: "center-img" %>
				•	Alcohols are acidic. We can remove the acidic proton to make a good base.<br>
				<%= image_tag "ch404-t-butoxide.png", size: "135x108", class: "center-img" %>
				</p>

				<h2 class="section-header section-index-top-header emphasis">Alcohols to Alkyl Halides: S<sub>N</sub>1 Reactions</h2>
				<h4 class="emphasis">Reaction Overview</h4>
				<%= image_tag "ch405-sn1-rxs.png", size: "600x128", class: "center-img" %>
				<p>• To make alkyl halides we react alcohols with a halide acid (HI, HBr, or HCl). This is called a unimolecular nucleophilic substitution (SN1) reaction.<br> 
				•	This SN1 reaction generates an alkyl halide that serves as good leaving group for subsequent reactions.<br> 
				</p>

				<h4 class="emphasis">Rectivity</h4>
				<p>• Alcohol Substitution: (fastest) 3° > 2° > 1° alcohols (slowest)<br>
				•	Use of Acid: (fastest) HI > HBr > HCl >> HF (slowest); HF is not used because of its high electronegativity which means the electrons are not donated during the reaction.<br>
				•	Leaving group displacement: (best) R-I > R-Br > R-Cl >>> R-F (worst)<br>
				•	Alkyl iodides are the better leaving group here.<br>
				</p>

				<h4 class="emphasis">Mechanism of Action</h4>
				<%= image_tag "ch406-sn1 mechanism.png", size: "600x425", class: "center-img" %>
				<p>• The transition state is controlled by the carbocation in step two. This is the rate determining step of the reaction or the slow step. The rate law for the slow step is modeled by: rate = k[R-LG]<br>
				• By this equation we can see how the reaction is unimolecular by nature. The rate is affected by the amount of R-LG reactant.<br>
				</p>

				<h4 class="emphasis">Carbocation Stability</h4>
				<p>
				<%= image_tag "ch407-carbocations.png", size: "425x175", class: "center-img" %>

				•	The stability of the reaction relies on the cabocation transition state.<br>
				•	The reason why this is called a unimolecular substitution reaction is because only one species is involved in the formation of the product once we’ve reached the transition state: the carbocaton.<br>
				•	A more stable carbocation results in a faster reaction.<br>
				•	Carbocations can also undergo rearrangements in order to form a more stable carbocation as detailed below.<br>
				<%= image_tag "ch408-1,2 Hydride Shift.png", size: "500x165", class: "center-img" %>
				•	Once we reach the transition state, the molecule can undergo a hydride migration to achieve as more stable carbocation. Methyl groups can also undergo these 1,2 shifts.<br>
				</p>




				<h2 class="section-header section-index-top-header emphasis">Alcohols to Alkyl Halides: S<sub>N</sub>2 Reactions</h2>
				<p>
				
				</p>

				<h2 class="section-header section-index-top-header emphasis">S<sub>N</sub>1 Versus S<sub>N</sub>2</h2>
				<p>
				</p>

				<h2 class="section-header section-index-top-header emphasis">Free Radical Reactions: Halogenation</h2>
				<p>
				</p>
		

				<h2 class="section-header section-index-top-header emphasis">Alkyl Halides From Thiosulfonyl and PBr<sub>3</sub></h2>
				<p>
				</p>


			</div>
		</div>
	</div>

