




<%= render 'pages/chapters_header' %>



	<div class="container text-color">
		<div class="row">
			<div class="col-md-12">
			<h1 class="center"> Chapter 9 - Alkynes</h1>


			<div class="panel-group">

			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseOne">
			      <h4 class="panel-title">
			        <a>
			          Overview
			        </a>
			      </h4>
			    </div>


			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			        <p>
			        	<%= image_tag "ch901-alkynes.png", size: "178x76", class: "center-img" %>
			        	•	The average student often overlooks alkyne reagents during their synthesis. However these are easy to make and use. Terminal alkynes can be deprotonated to become a strong acid (pKa 26) which means they serves as great nucleophiles for the formation of carbon-carbon bonds.
			        </p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseTwo">
			      <h4 class="panel-title">
			        <a>
			        	Preparation of Alkynes
			        </a>
			      </h4>
			    </div>


			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
			        	
			        	<%= image_tag "ch902-geminal-alkynes.png", size:"340x88", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
								•	Alkynes are prepared via double elimination reaction of geminal dihalide compounds.<br>
								•	Alkynes are sp hybridized. This results in their linear geometry.<br>
								<%= image_tag "ch903-vicinal-alkynes.png", size:"411x107", class: "center-img" %>
								•	The alkyne can also be a vicinal dihalide. This reaction does not need water in a second step because an internal triple bond is formed.
			        </p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseThree">
			      <h4 class="panel-title">
			        <a>
			          Alkylation
			        </a>
			      </h4>
			    </div>


			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
			        	<%= image_tag "ch904-alkylation.png", size: "389x144", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	To use alkynes in alkylation reactions we first have to deprotonate a terminal alkyne. Afterwards you introduce the reagent with an appropriate leaving group.<br>
			        	•	The deprotonation is depicted in the first reaction. The whole alkylation process is depicted in the second.
			        </p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseFour">
			      <h4 class="panel-title">
			        <a>
								Hydrogenation
			        </a>
			      </h4>
			    </div>


			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
			        	<%= image_tag "ch905-alkyne-with-lindlar.png", size: "516x91", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	We previously used Lindlar reagent conditions with alkenes. In the presence of alkynes we generate cis double bonds.
			        	<%= image_tag "ch906-Na-with-alkynes.png", size: "540x72", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	Alkynes treated with sodium however will generate trans alkenes. Remember these differences during your exam synthesis.

			        </p>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseFive">
			      <h4 class="panel-title">
			        <a>
			          Halogens and Alkynes
			        </a>
			      </h4>
			    </div>


			    <div id="collapseFive" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
			        	<%= image_tag "ch907-Br2-alkynes.png", size: "500x140", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	Addition of dibromine will cause a bromine at the terminal carbon and the internal carbon. Generally the bromine adds on both ends of the unsaturated bond.

			        	<%= image_tag "ch908-HBr-(2eq)-alkynes.png", size: "500x100", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	Adding 2 equivalents of hydrogen bromide will cause addition at the internal carbon position twice. 

			        	<%= image_tag "ch909-HBr-1eq-alkynes.png", size: "500x100", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	A single equivalent of hydrogen bromine adds a single bromine at the internal carbon and retains a double bond.

			        	<%= image_tag "ch910-HBr-and-Peroxide-alkynes.png", size: "550x80", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	Alkynes in the presence of HBr and peroxide will cause bromine to add at the terminal position of an alkyne compound.
			        </p>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseSix">
			      <h4 class="panel-title">
			        <a>
			          Hydration of Alkynes
			        </a>
			      </h4>
			    </div>


			    <div id="collapseSix" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
			        	<%= image_tag "ch911-Alkyne-hydration.png", size: "632x87", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
								•	Aqueous sulfuric acid and mercury(II) sulfate conditions are a great way to introduce alcohols onto alkyne molecules. However the alcohol product often exists as a tautomer, a ketone. Remember this during your exam syntheses. 	        
			        </p>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseSeven">
			      <h4 class="panel-title">
			        <a>
			          Ozonolysis
			        </a>
			      </h4>
			    </div>


			    <div id="collapseSeven" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
			        	<%= image_tag "ch912-ozonolysis-alkynes.png", size: "489x199", class: "center-img" %>
			        	<h4 class="emphasis">Overview</h4>
			        	•	Ozonolysis of alkynes will always generate carboxylic acids no matter the position of the triple bond; triple bonds can be internal or at the terminal position.<br>
			        	• Terminal and internal triple bonds generate different types of carboxylic side products as shown above.

			        </p>
			      </div>
			    </div>
			  </div>




			</div>






		</div>
		<ul class="pager">
		  <li class="previous">
		  	<%= link_to "Back", chapter8_path, class: "text-left" %>
		  </li>
		  <li class="next">
		  	<%= link_to "Next", chapter10_path, class: "text-right" %>
		  </li>
		</ul>
		<%= render 'pages/disqus_board' %>
	</div>

