
<%= render 'pages/chapters_header' %>


<div class="container text-color">
	<div class="row">
		<div class="col-md-12">
		<h1 class="center"> Chapter 4 - Alcohols</h1>


			<div class="panel-group">
			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseOne">
			      <h4 class="panel-title">
			        <a>
			          Alcohols: An Overview
			        </a>
			      </h4>
			    </div>


			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			        <p>• Below we can see two molecules: one with an alcohol group (left) and the other an alkyl bromide group (right).<br>
							<%= image_tag "ch401-alcohols-and-alkyl-halides.png", size: "340x130", class: "center-img" %>
							•	The alcohol on 2-propanol is characterized a secondary alcohol because the carbon bonded to the alcohol is also bonded to two other carbons.<br>
							•	The 1-Bromopentane compounds on the right is described as a primary bromide because the carbon bonded to bromine is bonded to one other carbon.<br>
							•	Alcohols can have up to three degrees of substitutions.<br>
							<%= image_tag "ch402-alcohol-Degrees-of-sub.png", size: "440x130", class: "center-img" %>
							•	Alkyl halides also have the same degree of substitution pattern because they are derived from alcohols.<br>
							<%= image_tag "ch403-alkyl-halide-degree-of-sub.png", size: "420x130", class: "center-img" %>
							•	Alcohols are acidic. We can remove the acidic proton to make a good base.<br>
							<%= image_tag "ch404-t-butoxide.png", size: "120x100", class: "center-img" %>

							</p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" data-toggle="collapse" href="#collapseTwo">
			        <a>
			          Alcohols to Alkyl Halides: S<sub>N</sub>1 Reactions
			        </a>
			      </h4>
			    </div>


			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
							<h4 class="emphasis">Reaction Overview</h4>
							<%= image_tag "ch405-sn1-rxs.png", size: "440x100", class: "center-img" %>
							<p>• To make alkyl halides we react alcohols with a halide acid (HI, HBr, or HCl). This is called a unimolecular nucleophilic substitution (SN1) reaction.<br> 
							•	This SN1 reaction generates an alkyl halide that serves as good leaving group for subsequent reactions.<br> 
							</p>

							<h4 class="emphasis">Rectivity</h4>
							<p>• Alcohol Substitution: (fastest) 3° > 2° > 1° alcohols (slowest)<br>
							•	Use of Acid: (fastest) HI > HBr > HCl >> HF (slowest); HF is not used because of its high electronegativity which means the electrons are not donated during the reaction.<br>
							•	Leaving group displacement: (best) R-I > R-Br > R-Cl >>> R-F (worst)<br>
							•	Alkyl iodides are the better leaving group here.<br>
							</p>

							<h4 class="emphasis">Mechanism of Action</h4>
							<%= image_tag "ch406-sn1 mechanism.png", size: "420x325", class: "center-img" %>
							<p>• The transition state is controlled by the carbocation in step two. This is the rate determining step of the reaction or the slow step. The rate law for the slow step is modeled by: rate = k[R-LG]<br>
							• By this equation we can see how the reaction is unimolecular by nature. The rate is affected by the amount of R-LG reactant.<br>
							</p>

							<h4 class="emphasis">Carbocation Stability</h4>
							<p>
							<%= image_tag "ch407-carbocations.png", size: "380x160", class: "center-img" %>

							•	The stability of the reaction relies on the cabocation transition state.<br>
							•	The reason why this is called a unimolecular substitution reaction is because only one species is involved in the formation of the product once we’ve reached the transition state: the carbocaton.<br>
							•	A more stable carbocation results in a faster reaction.<br>
							•	Carbocations can also undergo rearrangements in order to form a more stable carbocation as detailed below.<br>
							<%= image_tag "ch408-1,2 Hydride Shift.png", size: "400x140", class: "center-img" %>
							•	Once we reach the transition state, the molecule can undergo a hydride migration to achieve as more stable carbocation. Methyl groups can also undergo these 1,2 shifts.<br>
							</p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" data-toggle="collapse" href="#collapseThree">
			        <a>
			          Alcohols to Alkyl Halides: S<sub>N</sub>2 Reactions
			        </a>
			      </h4>
			    </div>

			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
							<h4 class="emphasis">Reaction Overview</h4>
							<p>
							<%= image_tag "ch409-sn2 rxn.png", size: "490x100", class: "center-img" %>
							• The conversion of alcohols to alkyl halides via primary alcohols is called s Sn2 reaction.<br>
							•	This is a bimolecular nucleophilic substitution reaction.<br>
							•	This reaction results in the inversion of stereochemistry.<br>
							</p>

							<h4 class="emphasis">Reactivity</h4>
							<p>• Alcohol Degree of substitution: (slowest) 3° < 2° < 1° alcohols (fastest); This is the opposite of S<sub>N</sub>1 reactions.
							•	Acid: (fastest) HI > HBr > HCl >> HF (slowest); HF is not used because of its high electronegativity which means the electrons are not donated.<br>
							•	Leaving group displacements: (best) R-I > R-Br > R-Cl >>> R-F (worst); Alkyl iodides are the better leaving groups here.<br>
							</p>

							<h4 class="emphasis">Mechanism of Action</h4>
							<p>
							<%= image_tag "ch410-sn2 mechanism.png", size: "425x225", class: "center-img" %>
							•	Step two of the SN2 reaction is the rate determining step. This is a concerted step. A bromide ion attacks the carbon and simultaneously displaces the water leaving group.<br>
							•	Since two species are involved in the rate-determining step this reaction is bimolecular.<br>
							•	This stereochemistry is inverted because the nucleophilic bromide attacks the carbon from the side opposite of the water leaving group.<br>
							•	The rate law can be modeled by: rate = k[Br-][R-OH]
							</p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" data-toggle="collapse" href="#collapseFour">
			        <a>
			          Free Radical Reactions: Halogenation
			        </a>
			      </h4>
			    </div>

			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
							<h4 class="emphasis">Reaction Overview</h4>
							<p>
							<%= image_tag "ch411-radical substitution.png", size: "240x80", class: "center-img" %>
							• This reaction is used to halogenate compounds.<br>
							</p>

							<h4 class="emphasis">Reactivity</h4>
							<p>

							• Br<sub>2</sub> and Cl<sub>2</sub> can both be used but Br<sub>2</sub> is more selective for the most stable carbocation.<br>
							•	Degree of Carbon Substitution: (fastest) 3° > 2° > 1° carbon (slowest)

							</p>
					
							<h4 class="emphasis">Mechanism of Action</h4>
							<p>
							<%= image_tag "ch412-Radical Sub mechanism.png", size: "425x235", class: "center-img" %>
							•	This reaction proceeds via a radical chain reaction.<br>
							•	Step 1 is called the initiation step.<br>
							•	Step 2 and 3 are called propagations steps.<br>
							•	Eventually the reaction ends with a termination step. In this step the free radicals come together and the reaction ends with the desired product and no reactions.<br>
							</p>	

							<h4 class="emphasis">Stability</h4>
							<p>
							<%= image_tag "ch413-Radical Intermediates.png", size: "405x200", class: "center-img" %>
							•	This tread is similar to carbocation stability trends.
							</p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" data-toggle="collapse" href="#collapseFive">
			        <a>
			          Alkyl Halides From Thiosulfonyl and PBr<sub>3</sub>
			        </a>
			      </h4>
			    </div>

			    <div id="collapseFive" class="panel-collapse collapse">
			      <div class="panel-body">
							<h4 class="emphasis">Reaction Overview</h4>
							<p>
							<%= image_tag "ch414-Other reactions.png", size: "300x140", class: "center-img" %>
							• These are other alternatives you might encounter that transform primary alcohols to alkyl halides.
							</p>

							<h4 class="emphasis">Mechanism of Action</h4>
							<p>• This reactions follows an S<sub>N</sub>2 pathway.</p>
			      </div>
			    </div>
			  </div>




			</div>




		</div>
	</div>
	<ul class="pager">
	  <li class="previous">
	  	<%= link_to "Back", chapter3_path , class: "text-left" %>
	  </li>
	  <li class="next">
	  	<%= link_to "Next", chapter5_path, class: "text-right" %>
	  </li>
	</ul>

	<%= render 'pages/disqus_board' %>
</div>



