
<%= render 'pages/chapters_header' %>


	<div class="container text-color">
		<div class="row">
			<div class="col-md-12">
				<h1 class="center"> Chapter 1</h1>

				<h2 class="section-header section-index-top-header emphasis">Preface</h2>
				<p>We belive familiarity builds confidence. We believe simple and straightforward lessons are most effective. We consolidate all the resources you need one place so you do not have to distract yourself with endless Google searches. We believe that strenthening fundamentals are at the core of student success in the classroom</p>
				<p>Chapters 1 thru 3 are an overview of the genercal chemistry concepts you will encounter in organic chemistry. Chapters 4 thru 22 focus on the heart of organic chemistry: reactions and mechanism. There will also be some lab specific resources avalible help along the way.</p>

				<h2 class="section-header section-index-top-header emphasis">Structure Determines Propeties</h2>
				<p>A recurring theme that we see in organic chemistry is that molecular structure determines the chemical properties and behaviors of molecule or compound. Remember this theme as we review basic general chemistry and move into organic chemistry: molecular structure determines chemical property. Familiarity build confidence!
				</p>

				<h2 class="section-header section-index-top-header emphasis">Atoms Electrons and Orbitals</h2>
				<p>• Atoms are the collection of a subatomic particles found in all matter.<br> 
				•	These subatomic particles are called protons, neutrons, and electrons.<br>
				•	Each one has a charge: Protons (+1), neutrons (0), and electrons (-1).<br>
				•	Electrons are located in orbitals: regions in 3D space outside the atomic nucleus.<br>
				•	Orbitals can have different names, shapes and properties. The s and p orbitals will be most relevant.<br>
				•	Orbital, which also includes electrons, are used in chemical bonding.<br>
				•	S orbitals bond or overlap head-on along the internuclear axis.<br>
				•	P orbitals overlap above and below the internuclear axis.
				</p>

				<h2 class="section-header section-index-top-header emphasis">Bonds and the Octet Rule</h2>
				<p>• There are two major bonds: ionic and covalent.<br>
				•	Ionic bonds involve charged species or ions. These bonds occurs when on elemental species donates electrons to another species to form charged molecules. Ex: NaCl<br>
				•	Covalent bonds occur when two species share electrons pairs.<br> 
				Covalent bonds can be triple, double, or single bonds.<br>
				•	The atom and dot representation of covalent bonds are called Lewis structures.<br>
				•	Covalent bonds are formed so each atom has a complete octet or 8 electrons with some atoms serving as exceptions: Helium, Hydrogen, and Boron.
				</p>

				<h2 class="section-header section-index-top-header emphasis">Resonance Structures and Formal Charges</h2>
				<p>• The possible resonance structures for diazomethaneare is shown below.
				<%= image_tag "ch101-diazomethaneare-resonance.png" , size: "425x128", class: "center-img" %>	
				•	Resonance structures are molecules that have more than one correct Lewis structure. The true structure is called a resonance hybrid.<br>
				•	These structures are obtained by moving electrons.
				<%= image_tag "ch102-resonance-arrows.png" , size: "425x128", class: "center-img" %>
				•	A curved arrow is used to indicate the direction of electron motion.<br>
				•	Electrons are moved so that the octet rule can be obeyed in the new Lewis structure.<br>
				•	As you can see above the delocalization (or movement) of electron causes each atom to gain a new relative charge based on the electron distribution called a formal charge.<br>
				•	To determine the formal charge of each atom we use the formula: FC = # of valence electrons - # of assigned valence electron<br>
				•	Where the number of assigned valence electrons are the electrons that are donated by that atom for form a covalent bond.<br>
				•	When a molecule has multiple Lewis structures, the preferred structure will be the one with minimized formal charges or will have the negative charge on the most electronegative atom.<br>
				•	Based on the electron distribution the molecule can have a dipole moment.<br>
				•	Dipole moments is the net direction of the polarity within a molecule.<br>
				•	Dipoles exist in molecules with atoms of different electronegativity values.<br>
				•	Think of vector additions from physics when working out these problems<br>
				</p>
		

				<h2 class="section-header section-index-top-header emphasis">Molecular Shapes and Hybridization</h2>
				<p>• Remember that the number of bonds to a central atom often results in a specific 3D orientation.<br>
				•	Here is a table. Familiarize yourself with these shapes and hybridizations. Keep them at the back for your head. These shapes help predict product formation in organic reactions.
				</p>

				<h2 class="section-header section-index-top-header emphasis">Writing Organic Molecules</h2>
				<p>• Learning how to draw organic molecules is key to passing your exams with time to spare.
				<%= image_tag "ch103-bondline.png", size: "425x280", class: "center-img" %>
				•	Notice how in the condensed version converts carbon atoms to vertices and hides the hydrogen atom.<br>
				•	This representation is called the bond line formula.<br>
				•	Vertices represent carbon atoms. If no other atoms are shown then draw hydrogen bonds to each carbon until the octet rule is obeyed. Ex: Terminal single bonded carbons in pentane are bonded to 3 hydrogen atoms.
				</p>
			</div>
		</div>
		<ul class="pager">
		  <li class="previous">
		  	<%= link_to "Back", root_path , class: "text-left" %>
		  </li>
		  <li class="next">
		  	<%= link_to "Next", chapter2_path, class: "text-right" %>
		  </li>
		</ul>
	</div>



