
<%= render 'pages/chapters_header' %>


	<div class="container text-color">
		<div class="row">
			<div class="col-md-12">

				<h1 class="center"> Chapter 5 - Alkenes</h1>
				<h2 class="section-header section-index-top-header emphasis">Alkenes: Overview</h2>
				<h4 class="emphasis">Properties</h4>

				<p>
				<%= image_tag "ch501-Simple Alkenes.png", size: "350x195", class: "center-img" %>
				• Alkenes can assume two stereoisomeric configurations: cis and trans.<br>
				•	When the groups are opposite we denote the alkene as trans and then they are on the same side the groups are cis to each other. Note the distinct shape of both stereoisomers.<br>
				•	Trans is more stable than cis because steric hindrance is minimized within the molecule. There is less electron repulsion between the two trans substituents.

				<%= image_tag "ch502-E-Z Alkenes.png", size: "350x195", class: "center-img" %>
				•	When there are multiple complex functional groups on an alkene we use the E-Z notation.<br>
				•	If the dominate groups are opposite each other use E before the name and if they are on the same side we use Z before the molecule name.<br>
				•	To use E-Z notation, start at the sp2 carbon of the double bond, move outward, and compare the substituents on each carbon.<br>
				•	Compare the carbons by atomic number until there is a point of difference. The substituent that has the greater atomic number is the dominate group.<br>


				</p>

				<h2 class="section-header section-index-top-header emphasis">Alcohol Dehydration</h2>
				<h4 class="emphasis">Reaction Overview</h4>
				<p>
				<%= image_tag "ch503-Alcohol dehydration.png", size: "425x195", class: "center-img" %>
				•	This is called a beta-hydride elimination reaction.<br>
				•	Alcohols in the presence of heat and acid will generate alkenes via dehydration.<br>
				•	H<sub>3</sub>PO<sub>4</sub> can also be used as well as other strong acids.<br>
				•	This reaction follows an E1 mechanism.<br>

				</p>

				<h4 class="emphasis">Reactivity</h4>

				<p>
				</p>

				<h4 class="emphasis">Regioselectivity</h4>
				<p>
				<%= image_tag "", size: "350x195", class: "center-img" %>
				</p>

				<h4 class="emphasis">Selectivity</h4>
				<p></p>

				<h4 class="emphasis">Mechanism of Action</h4>
				<p>
				<%= image_tag "", size: "350x195", class: "center-img" %>
				</p>


				<h2 class="section-header section-index-top-header emphasis">Halogen Dehydration</h2>
				<h4 class="emphasis">Reaction Overview</h4>
				<p>
				<%= image_tag "", size: "350x195", class: "center-img" %>
				</p>

				<h4 class="emphasis">Reactivity</h4>

				<p>
				</p>

				<h4 class="emphasis">Regioselectivity</h4>
				<p></p>

				<h4 class="emphasis">Selectivity</h4>
				<p></p>

				<h4 class="emphasis">Mechanism of Action</h4>
				<p>
				<%= image_tag "", size: "350x195", class: "center-img" %>
				</p>



			</div>
		</div>
		<ul class="pager">
		  <li class="previous">
		  	<%= link_to "Back", chapter4_path, class: "text-left" %>
		  </li>
		  <li class="next">
		  	<%= link_to "Next", soon_path, class: "text-right" %>
		  </li>
		</ul>
		<%= render 'pages/disqus_board' %>
	</div>

