
<%= render 'pages/chapters_header' %>


<div class="container text-color">
	<div class="row">
		<div class="col-md-12">
		<h1 class="center"> Chapter 2 - Alkanes</h1>


			<div class="panel-group">
			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseOne">
			      <h4 class="panel-title">
			        <a>
			          Alkanes: Hydrocarbon Molecules
			        </a>
			      </h4>
			    </div>


			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			        <p>• Hydrocarbons are molecules that only contain carbon and hydrogen bonds. Below are some examples.<br>
							<%= image_tag "ch201-alkanes.png", size: "480x90", class: "center-img" %>
							•	Each molecule fits into a functional group category that is listed below the name.<br>
							•	Molecules names are generated based on their functional class.<br>

							</p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" data-toggle="collapse" href="#collapseTwo">
			        <a>
			          Alkanes and Isomers
			        </a>
			      </h4>
			    </div>


			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>• Alkanes can be drawn in straight chains or in branched chains, if long enough.<br>
							• The many different branched alkanes generated are called constitutional isomers.
							<%= image_tag "ch202-isomers.png", size: "280x120", class: "center-img" %>

							•	The molecular formula for each isomer is the same (C4H10) but the connectivity is different.<br>
							•	Alkanes that are missing a hydrogen to be complete have the –yl ending.<br>
							•	Alkyl groups are substituent groups. Below we can see methyl is a substituent of the R compound (R represents any compound).<br>
							<%= image_tag "ch203-methane and methyl.png", size: "220x80", class: "center-img" %>
							</p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" data-toggle="collapse" href="#collapseThree">
			        <a>
			          Nomenclature
			        </a>
			      </h4>
			    </div>

			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
							<p>• Follow these rules to name these molecules.<br>
							•	Step 1: Identify the longest continuous carbon chain<br>
							•	Step 2: All other carbons will be substituents that end in –yl<br>
							•	Step 3: Number the chain in the direction that gives the slowest substituent position<br>
							•	Step 4: Write the name formula: alkyl pos. + alkyl name + continuous chain name<br>
							
							<%= image_tag "ch204-nomenclature.png", size: "200x140", class: "center-img" %>

							</p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" data-toggle="collapse" href="#collapseFour">
			        <a>
			          Chemical Properties of Alkanes
			        </a>
			      </h4>
			    </div>

			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
							<p>• Alkanes are generally unreactive and often used as solvents for you reactants.<br>
							</p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" data-toggle="collapse" href="#collapseFive">
			        <a>
			          Physical Properties of Alkanes
			        </a>
			      </h4>
			    </div>

			    <div id="collapseFive" class="panel-collapse collapse">
			      <div class="panel-body">
							<p>• Alkanes have low melting points.<br>
							• Alkanes also have low boiling points.<br>
							•	Soluble in nonpolar solvents due to weak induced dipole intermolecular forces (the “like dissolves like” concept).<br>
							•	Branched alkanes have lower boiling points than linear alkanes because they have less surface area available for intermolecular force (IMF) interactions. Less stacking results in weaker IMFs holding the molecules together in phase.<br>
							</p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" data-toggle="collapse" href="#collapseSix">
			        <a>
			          Stability of Alkanes
			        </a>
			      </h4>
			    </div>

			    <div id="collapseSix" class="panel-collapse collapse">
			      <div class="panel-body">
							<p>• Branched alkane isomers are more stable than the linear isomers.<br>
							•	Alkanes are stable molecules.
							</p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title" data-toggle="collapse" href="#collapseSeven">
			        <a>
			          Heat of Combustion
			        </a>
			      </h4>
			    </div>

			    <div id="collapseSeven" class="panel-collapse collapse">
			      <div class="panel-body">
							<p>• Branched alkanes expend less energy than linear alkanes when subjected to combustion due to their stability.
							</p>
			      </div>
			    </div>
			  </div>


			</div>




		</div>
	</div>
	<ul class="pager">
	  <li class="previous">
	  	<%= link_to "Back", chapter01_path , class: "text-left" %>
	  </li>
	  <li class="next">
	  	<%= link_to "Next", chapter03_path, class: "text-right" %>
	  </li>
	</ul>

	<%= render 'pages/disqus_board' %>
</div>


