<% content_for :chapters do %>
    <%= stylesheet_link_tag 'chapters.css' %>  
<% end %>

<%= render 'pages/chapters_header' %>


	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2 class="section-header section-index-top-header emphasis">Alkanes: Hydrocarbon Molecules</h2>
				<p>• Hydrocarbons are molecules that only contain carbon and hydrogen bonds. Below are some examples.<br>
				<%= image_tag "ch201-alkanes.png", size: "650x128", class: "center-img" %>
				•	Each molecule fits into a functional group category that is listed below the name.<br>
				•	Molecules names are generated based on their functional class.<br>
				</p>

				<h2 class="section-header section-index-top-header emphasis">Alkanes and Isomers</h2>
				<p>• Alkanes can be drawn in straight chains or in branched chains, if long enough.<br>
				• The many different branched alkanes generated are called constitutional isomers.
				<%= image_tag "ch202-isomers.png", size: "350x150", class: "center-img" %>

				•	The molecular formula for each isomer is the same (C4H10) but the connectivity is different.<br>
				•	Alkanes that are missing a hydrogen to be complete have the –yl ending.<br>
				•	Alkyl groups are substituent groups. Below we can see methyl is a substituent of the R compound (R represents any compound).<br>
				<%= image_tag "ch203-methane and methyl.png", size: 256, class: "center-img" %>

				</p>

				<h2 class="section-header section-index-top-header emphasis">Nomenclature</h2>
				<p>• Follow these rules to name these molecules.<br>
				•	Step 1: Identify the longest continuous carbon chain<br>
				•	Step 2: All other carbons will be substituents that end in –yl<br>
				•	Step 3: Number the chain in the direction that gives the slowest substituent position<br>
				•	Step 4: Write the name formula: alkyl pos. + alkyl name + continuous chain name<br>
				<%= image_tag "ch204-nomenclature.png", size: 256, class: "center-img" %>

				</p>

				<h2 class="section-header section-index-top-header emphasis">Chemical Properties of Alkanes</h2>
				<p>• Alkanes are generally unreactive and often used as solvents for you reactants.<br>
				</p>

				<h2 class="section-header section-index-top-header emphasis">Physical Properties of Alkanes</h2>
				<p>• Alknaes have low melting points.<br>
				• Alkanes also have low boiling points.<br>
				•	Soluble in nonpolar solvents due to weak induced dipole intermolecular forces (the “like dissolves like” concept).<br>
				•	Branched alkanes have lower boiling points than linear alkanes because they have less surface area available for intermolecular force (IMF) interactions. Less stacking results in weaker IMFs holding the molecules together in phase.<br>
				</p>
		

				<h2 class="section-header section-index-top-header emphasis">Stability of Alkanes</h2>
				<p>• Branched alkane isomers are more stable than the linear isomers.<br>
				•	Alkanes are stable molecules.
				</p>

				<h2 class="section-header section-index-top-header emphasis">Heat of Combustion</h2>
				<p>• Branched alkanes expend less energy than linear alkanes when subjected to combustion due to their stability.
				</p>

			</div>
		</div>
	</div>

