




<%= render 'pages/chapters_header' %>



	<div class="container text-color">
		<div class="row">
			<div class="col-md-12">
			<h1 class="center"> Chapter 8 - Nucleophilic Substitution</h1>


			<div class="panel-group">

			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseOne">
			      <h4 class="panel-title">
			        <a>
			          Overview
			        </a>
			      </h4>
			    </div>


			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
			        <p>
			        • Nucleophilic subtitutions are powerful reactions that can help manipulate functional groups. These manipulations are essential when you want to synthesize products with a particular functional property.
			        </p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseTwo">
			      <h4 class="panel-title">
			        <a>
			          Nucleophilic Substitutions
			        </a>
			      </h4>
			    </div>


			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
							•	We encountered two nucleophilic substitution (S<sub>N</sub>) reactions with alcohols. Halogens were used as a nucleophiles but they were only the tip of the iceberg.<br>
							<%= image_tag "ch801-Some-SN-RXNS.png", size: "400x420", class: "center-img" %>
							•	Here you can see that there are a variety of species that act as nucleophiles. Good nucleophiles always have an excess of electrons, which is why they have a negative charge. Anionic nucleophiles donate electrons.<br>
							<%= image_tag "ch802-I replace Br.png", size: "400x140", class: "center-img" %>
							•	These reactions can also be used to manipulate functional groups. Iodide replaces the Bromine as a leaving group. The introduction of the Iodide leaving group makes the molecule more reactive because Iodide is a better leaving group than bromine.<br> 
			        </p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseThree">
			      <h4 class="panel-title">
			        <a>
			          S<sub>N</sub>2 vs. S<sub>N</sub>1
			        </a>
			      </h4>
			    </div>


			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
							•	The biggest difference between S<sub>N</sub>1 and S<sub>N</sub>2 reactions are found at each reaction's rate-determining step.<br>
							<%= image_tag "ch410-sn2 mechanism.png", size: "480x280", class: "center-img" %>
							•	The S<sub>N</sub>2 mechanism is one step and bimolecular (involves two species), often called a concerted step.  The nucleophile attacks the electrophilic carbon from behind and displaces the leaving group. This mechanisms follows this rate law: rate = k[Nuc][R-LG].<br>
							•	Steric hindrance also plays a huge role in reaction rates. Lower degrees of substitution contribute to faster reaction rates because many bulky substituents causes atomic crowding. Remember that reactivity order depends on degrees of substitution: methyl > 1° > 2° > 3°<br>
							<%= image_tag "ch406-sn1 mechanism.png", size: "470x380", class: "center-img" %>
							•	The S<sub>N</sub>1 reaction is a two-step process but is unimolecular (one species is involved).The leaving group is lost, a carbocation is generated, and then a nucleophile attacks the electrophilic carbocation. Note that carbocation stability increases by degree of substitution: 3°> 2° > 1° > Methyl. The rate law is represented as rate = k[R-LG].<br>

			        </p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseFour">
			      <h4 class="panel-title">
			        <a>
								Solvent Effects
			        </a>
			      </h4>
			    </div>


			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
								•	The type of solvents used can speed up or decrease the rate of a reaction.<br>
								<%= image_tag "ch803-polar-aprotic-solvent.png", size: "450x160", class: "center-img" %>
								•	Polar aprotic solvents do not promote hydrogen bonding because the do not have a hydrogen that can contribute to hydrogen bonding. Aprotic solvents increase SN2 reaction rates because the lack of protons in the solvent does not hinder the nucleophilic reaction. The nucleophile does not react with the solvent<br>
								<%= image_tag "ch804-polar-protic-solvent.png", size: "320x130", class: "center-img" %>
								•	Polar protic solvents are great for SN1 reactions because they stabilize the displaced leaving group with partial positive charges in the solvent. The solvent also stabilizes the carbocation with partial negative charges. This occurs via solvation: the solvent surrounds each species with their partial charge atoms.<br>
			        </p>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseFive">
			      <h4 class="panel-title">
			        <a>
			          Nucleophilicity and Basicity
			        </a>
			      </h4>
			    </div>


			    <div id="collapseFive" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
								•	Nucleophilicity is a measure of nucleophile strength. There are two modes of comparison. Nucleophile strength can be measured with pKa values.<br>
								<%= image_tag "ch805-Comparing pKa values.png", size: "320x100", class: "center-img" %>
								•	The higher pKa values denote stronger nucleophiles. You can also compare atoms of the same row. In these situations as you go from left to right nucleophilic strength decreases.<br>
								<%= image_tag "ch806-Nucleophile Strength by Row.png", size: "300x130", class: "center-img" %>
								•	Realize however that stronger bases don’t always imply greater nucleophile strength.<br>
								<%= image_tag "ch807- fluoride vs iodide.png", size: "300x100", class: "center-img" %>
								•	Iodide is a better nucleophile but Fluorine is a better base primarily due to their affinity for electrons. Fluorine is extremely electronegative therefore it is not likely to ever donate a pair of electrons.<br>
								<%= image_tag "ch808-nucleophile-table.png", size: "250x170", class: "center-img" %>
								•	Generally speaking good nucleophiles have low electronegativity values. The best nucleophiles are also anionic.<br>
			        </p>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseSix">
			      <h4 class="panel-title">
			        <a>
			          Competition: Substitution or Elimination
			        </a>
			      </h4>
			    </div>


			    <div id="collapseSix" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
								•	Competition between Elimination and Substitution depends whether reaction conditions promote one species to act as a nucleophile or a base. Nucleophiles promote substitution while bases promote elimination.<br>
								•	Picture of Elimination vs substitution (E2)
								<%= image_tag "ch809-E2-Favored.png", size: "300x130", class: "center-img" %>
								•	This secondary alkyl halide reactant is in the presence of a strong nucleophile. However since there are bulky methyl groups the halide position is crowded. Therefore it is easiest for the nucleophile to abstract and adjacent proton and contribute to the E2 mechanism. E2 is also favored if you have a bulky base, In that case the base is too big to access the halide so it takes a proton instead.<br>
								•	Picture of Elimination vs substitution (SN2)
								<%= image_tag "ch810-SN2-Favored.png", size: "350x120", class: "center-img" %>
								•	This time we have an accessible primary halide in the presence of a strong nucleophile therefore and SN2 pathway is easily achieved.<br>
			        </p>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading" data-toggle="collapse" href="#collapseSeven">
			      <h4 class="panel-title">
			        <a>
			          Example Reactions
			        </a>
			      </h4>
			    </div>


			    <div id="collapseSeven" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p>
								•	Here's an example of some synthetic routes we can take. The first reaction involves converting an alcohol to a tosylate group. This reaction occurs on the oxygen and not at the stereogenic center, therefore the stereochemistry is retained.<br>
								<%= image_tag "ch811-tosylate-plus-azide.png", size: "450x200", class: "center-img" %>
								•	The next step involves the introduction of the azide group. This reaction happens at the stereogenic carbon therefore we observe an inversion of stereochemistry.<br>
								
			        </p>
			      </div>
			    </div>
			  </div>



			</div>






		</div>
		<ul class="pager">
		  <li class="previous">
		  	<%= link_to "Back", chapter07_path, class: "text-left" %>
		  </li>
		  <li class="next">
		  	<%= link_to "Next", chapter09_path, class: "text-right" %>
		  </li>
		</ul>
		<%= render 'pages/disqus_board' %>
	</div>

