<!DOCTYPE html>
<html>
<head>
  <title>OrgoDojo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">  mobile device configuration -->
  <meta name="google-site-verification" content="nHjJXEblJ658tiaQFEVzfChT9Hnnws78nFy8gz00XNQ" />
  <%= render 'layouts/tracker' %>
</head>
<body>

	<%= yield %>
	<%= render 'layouts/footer_below' %>


</body>
</html>