<!DOCTYPE html>
<html>
<head>
  <title>OrgoDojo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<!-- **** Navigation Bar  **** -->

	<nav class="navbar navbar-static-top navbar-default" role="navigation">
	  <div class="container">
	  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <%= link_to "orgodojo", root_path, class: "navbar-brand" %>
		  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav navbar-right">
		      <li><%= link_to "Home", '#' %></li>
		      <li><%= link_to "About", '#' %></li> 
		      <li><%= link_to "Sign in", '#' %></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>




	<!-- First Content Section -->		
	<div class="jumbotron center">
		<div class="container">
			<!-- ::before goes here -->
			<div class="row">
				<!-- ::before goes here -->
				<div class="col-lg-8 col-lg-offset-2 centered">
					<%= image_tag("logo.png", size: "256") %>
			    <h1>Welcome to OrgoDojo!</h1>
			    <p>Hi! My name is Stan. I will be your sensei.<br>
			    	 Here at OrgoDojo I teach students how to become<br> 
			    	 masters in the art of organic chemistry.
			    </p>
		      <p>
		      	<!-- Later this this will say "Enroll Now for Only $14.99" -->
		        <%= link_to "Begin your Journey Here", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		      </p>
		    </div>
			</div>
	  </div>
	</div>


	<!-- Second Content Section  ( model this section after onemonth rails and progressus template theme -->
	<section class="benefits">
		<div class="container bottom-space">
			<h2 class="center top-space">
				ABOUT THE JOURNEY
			</h2>
			<div class="divider"></div>
			<div class="row row-benefits">
				<div class="col-sm-6">
					<h3>Focus On Simplicity</h3>
					<p>My lessons are straigh-forward and to the point<br>
						so you can spend more time studying and less time<br>
						searching for answers in your textbook.</p>
				</div>
				<div class="col-sm-6">
					<h3>Community Learning</h3>
					<p>A discussion thread at the end of each chapter<br>
					   means you are never learning alone. Post questions<br>
					   and watch as students from around the world can answer.
					</p>
			  </div>
			</div>

				<div class="row row-benefits">
					<div class="col-sm-6">
						<h3>Authentic Approaches</h3>
						<p>My lessons were created by students which means<br>
							 you will never be lost. The course was written from<br>
							 a students perspective.
						</p>
					</div>
					<div class="col-sm-6">
						<h3>Familiarity Builds Confidence</h3>
						<p>From the begining my lessons direct you to the heart<br> 
							 of organic chemistry: reactions and mechanisms. Therefore<br>
							 on test day, feel confident because you've every you need.
						</p>
					</div>
				</div>

			<div class="row">
				<div class="col-md-12 center">
					<%= link_to "Let's Begin the Journey", new_user_registration_path, class: "btn btn-default btn-special btn-lg" %>
			</div>
		</div>
	</section>








	<!-- Footer -->
	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<!-- ::before goes here???  -->
				<div class="row">
					<!-- ::before goes here??? -->
					<div class="footer-col col-md-4">
						<h3>Contact Us</h3>
						<p>270 Mohegan Ave<br>
							 New London, CT 06320
						</p>
					</div>

					<div class="footer-col col-md-4">
						<h3>Follow Us</h3>
						<ul class="list-inline">
							<li><%= link_to "Facebook", '#' %></li>
							<li><%= link_to "Twitter", '#' %></li>
						</ul>
					</div>

					<div class="footer-col col-md-4">
						<h3>About Us</h3>
						<p>We provide content created<br>
							 by students for students.
						</p>
					</div>
					<!-- ::after goes here??? -->
				</div>
				<!-- ::after goes here??? -->
			</div>
		</div>

		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-md-12">&copy; 2014 OrgoDojo</div>
				</div>
			</div>
		</div>
	</footer>














</body>
</html>